@import 'variables.css';
@import 'normalize.css';

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--full);
    z-index: var(--z-index-header);
}

.horizontal-nav {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-2xl);
    height: var(--nav-height);
}

.horizontal-nav__logo {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.horizontal-nav__links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: var(--full);
    font-weight: var(--font-weight-medium);
    font-size: var(--nav-font-size);
    font-family: var(--font-family-primary);
}

/* Vertical Navigation */
.vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--full);
    width: var(--vertical-nav-width);
    z-index: var(--z-index-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4xl) var(--spacing-2xl);
    background-color: var(--black);
}

.vertical-nav__icons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    list-style-type: none;
}

.vertical-nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--radius);
    width: var(--spacing-7xl);
    height: var(--spacing-7xl);
}

.copyright {
    font-size: var(--font-size-xs);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--white);
    font-family: var(--font-family-primary);
}

/* Dashboard */
.dashboard-container {
    display: flex;
    margin-top: var(--spacing-8xl);
    margin-left: var(--spacing-11xl);
}

.dashboard {
    padding: var(--spacing-6xl) var(--spacing-8xl);
    width: 100%;
}

.dashboard-title {
    font-size: var(--title-font-size);
    font-weight: var(--bold);
    margin-bottom: var(--spacing-3xl);
}

.username {
    color: var(--primary);
}

.dashboard-analytics {
    margin: var(--spacing-8xl) 0;
    display: flex;
    gap: var(--spacing-2xl);
}

.dashboard-card {
    background-color: var(--lightgray);
    border-radius: var(--radius);
    padding: var(--spacing-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.dashboard-daily__analytic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.dashboard-analytics__nutrition {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
}

.dashboard-card__logo {
    padding: var(--spacing-lg);
    border-radius: var(--radius);
}

.dashboard-dayliCal>img {
    background-color: var(--calories-bg);
}

.dashboard-protein>img {
    background-color: var(--protein-bg);
}

.dashboard-carbs>img {
    background-color: var(--carbs-bg);
}

.dashboard-fat>img {
    background-color: var(--fat-bg);
}

.dashboard-average__length {
    background-color: var(--primary);
    border-radius: var(--radius);
}

.dashboard-card__value {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    font-family: var(--font-family-primary);
}

.dashboard-card__title {
    color: var(--gray);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-primary);
}

/* Charts */
.charts {
    height: 270px;
    border-radius: var(--spacing-sm);
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xl);
}

.intensity-container {
    background-color: var(--darkgray);
}

.DailyTooltip {
    background-color: var(--primary);
    color: var(--white);
    padding: var(--spacing-md);
}

.DailyTooltip p {
    margin-bottom: var(--spacing-sm);
}

.average-container {
    background-color: var(--primary);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.average-title {
    color: var(--white);
    margin-bottom: var(--spacing-lg);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-primary);
}

.average-tooltip {
    background-color: var(--white);
    color: var(--black);
    padding: var(--spacing-xxs) var(--spacing-sm);
    border-radius: var(--spacing-sm);
    font-size: var(--font-size-sm);
    box-shadow: var(--border-shadow);
    font-family: var(--font-family-primary);
}

.radar-grid {
    stroke: var(--white);
}

.score-container {
    position: relative;
    background-color: var(--lightgray);
    border-radius: var(--radius);
}

.score-title {
    position: absolute;
    top: var(--spacing-xl);
    left: var(--spacing-xl);
    font-weight: var(--font-weight-bold);
    color: var(--black);
    font-family: var(--font-family-primary);
}

.score-pourcentage {
    font-size: var(--nav-font-size);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-primary);
}

.score-pourcentage-title {
    font-weight: var(--font-weight-bold);
    color: var(--gray);
    font-family: var(--font-family-primary);
}

.score-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: var(--spacing-xl);
}

.dashboard-analytics__card {
    display: grid;
    grid-template-rows: 450px;
    gap: var(--spacing-2xl);
    width: 100%;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #FF0101;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 1rem;
    color: #FF0101;
    font-size: 1.2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:1439px) {
    .dashboard {
        padding: var(--spacing-2xl) var(--spacing-5xl);
    }

    .charts {
        height: 250px;
    }

    .charts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-analytics__card {
        grid-template-rows: 400px;
    }
}

.error-container,
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-2xl);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 64px), -50%);
}

.error-container h2 {
    color: var(--primary);
    margin-bottom: var(--spacing-md);
}

.error-container p {
    margin-bottom: var(--spacing-2xl);
    color: var(--black);
}

.error-container button {
    padding: 0.8rem var(--spacing-xl);
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.error-container button:hover {
    background-color: #cc0000;
}