@import 'variables.css';
@import 'normalize.css';

.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.horizontal-nav {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-2xl);
}

.horizontal-nav__logo {
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.horizontal-nav__links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: var(--full);
    font-weight: var(--lightbold);
    font-size: var(--nav-font-size);
}

.dashboard-container {
    display: flex;
    padding-top: 90px;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 90px);
    width: fit-content;
    padding: var(--spacing-4xl) var(--spacing-2xl);
    background-color: var(--black);
}

.vertical-nav__icons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    list-style-type: none;
}

.vertical-nav__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--radius);
    width: var(--spacing-7xl);
    height: var(--spacing-7xl);
}

.copyright {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--white);
}

.dashboard {
    padding: var(--spacing-3xl);
    width: 100%;
}

.dashboard-title {
    font-size: var(--title-font-size);
    font-weight: var(--bold);
    margin-bottom: var(--spacing-sm);
}

.username {
    color: var(--primary);
}

.dashboard-analytics {
    margin: var(--spacing-2xl) 0;
    display: flex;
    gap: var(--spacing-2xl);
}

.dashboard-analytics__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-2xl);
    width: 80%;
}

.dashboard-card {
    background-color: var(--lightgray);
    border-radius: var(--radius);
    padding: var(--spacing-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.dashboard-daily__analytic {
    grid-area: 1 / 1 / 2 / 4;
}

.dashboard-analytics__nutrition {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
}

.dashboard-card__logo{
    padding: var(--spacing-lg);
    border-radius: var(--radius);
}

.dashboard-dayliCal>img {
    background-color: #ff00001A;
}

.dashboard-protein>img {
    background-color: #4AB8FF1A;
}

.dashboard-carbs>img {
    background-color: #f9ce231A;
}

.dashboard-fat>img {
    background-color: #fd51821A;
}

.dashboard-average__length{
    background-color: var(--primary);
    border-radius: var(--radius);
}

.chart-container {
    background-color: #E60000;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .chart-title {
    color: white;
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .tooltip {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.radar-chart-container {
    background-color: #2c2c2c;
    border-radius: 10px;
  }
  
  .radar-grid {
    stroke: white;
  }

  .score-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .score-chart-title {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  
  .radial-bar-chart {
    position: relative;
  }
  
  .score-chart-label {
    font-size: 1.5rem;
    font-weight: bold;
    fill: #000;
  }
  
  .score-chart-subtitle {
    font-size: 0.8rem;
    fill: #888;
  }

  .Scorecharts-container{
    background-color: var(--lightgray);
    border-radius: var(--radius);
  }
  